{% extends "base.html" %}
{% block content %}
{% load static %}
<div class='grid grid-cols-3 justify-items-center justify-self-center justify-contents-center'>


{% for image in gallery %}


<div class= 'grid col-start-2 justify-items-center border border-green-500 m-2 bg-gradient-to-r from-cyan-200 to-blue-300 shadow-xl shadow-black rounded-md' id="{{image.id}}">
    <div class='flex flex-shrink border border-red'><h1 class='font-bold'> {{image.title}}  </h1></div>
    <div><img src="{{image.image.url}}" class='object-scale-down w-62 h-62'></img></div>
    <div><p> {{ image.description }} </p></div>
    <div><button class='deletebutton text-red-600'>DELETE</button><div id='csrf' value='{{csrf_token}}' hidden='true'>{{csrf_token}}</div></div>
</div>
{% endfor %}
<script type='text/javascript' src={% static "dashboard.js" %}>

    </script>

{% endblock content %}